*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aquamarine;
    text-align: center;
}
.container{
    height: 79vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    background-color: yellowgreen;    
}

#rst-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 2rem;
}

#new-btn{
     padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: white;
    border-radius: 2rem;
}


#msg{
    color: rgb(106, 202, 22);
    font-size: 8vmin;
}

.msg-container{
    height: 20vmin;
}


.hide{
    display: none;
}


